extends layout
block content
    .row
      h1 Welcome to the contact page
       .grid-container 
     
        each contacts in contact
         .item 
           p Contact Id: #{contacts.id}
           p Contact Name: #{contacts.name}
           p Contact Email: #{contacts.email}
           p Comment : #{contacts.Comment}
           a.button(href="/deletecontact/#{contacts.id}") Delete 
           a.button(href="/editcontact/#{contacts.id}") Edit 
           
 